
<div style="width: 100%; margin:0; margin-bottom: 2%; padding:0; text-align: center; vertical-align: middle;">

	<div style="width: 100%; background-color: orange;">
	
		<div style="display: inline-block; width: 24%; padding-top: 1%; text-align: center; vertical-align: middle; border-right: 1px solid black;">
		
			<p><span style="font-size: 20px; font-weight: bold;">Optional Fees</span></p>
		
		</div>
		
		<div style="display: inline-block; width: 75%; padding-top: 1%; text-align: center; vertical-align: middle;">
		
			<p><span style="font-size: 20px; font-weight: bold;">Price</span></p>

		</div>
	</div>

	
	<div style="width: 100%; border-bottom: 1px solid black;">
	
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
		
			<p><span style="font-size: 18px; font-weight: bold;">Extra Paper</span> <br /> on top of 2 papers included in regular/student registration)</p>
			
		</div>
		
		<div style="display: inline-block; width: 75%; text-align: center; vertical-align: middle; padding: 1%;">
		
			<p><span style="font-size: 18px; font-weight: bold;">3500 CZK / paper</span></p>
			
			<!-- <p>Up to 2 papers per registered author is allowed in regular & student fee. Each extra paper requires an additional payment.</p> -->
			<!-- <p>For each accepted paper, at least one author should pay regular fee or student fee to be included in the conference program.</p> -->
		</div>
		
	</div>
	
	
	<div style="width: 100%; border-bottom: 1px solid black;">
	
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
		
			<p><br />&nbsp;<br />&nbsp;<span style="font-size: 18px; font-weight: bold;">Accompanying Person</span><br />&nbsp;<br />&nbsp;</p>
		
		</div>
		
		<div style="display: inline-block; width: 75%; padding: 1%; text-align: center; vertical-align: middle; padding: 1%;">
		
			<p><span style="font-size: 18px; font-weight: bold;">2400 CZK / person</span><br />The fee includes: <br />- welcome reception on Monday July 10, 2023<br />- conference dinner on Wednesday July 12, 2023<br />And will not have the access to the sessions during the conference</p>
		</div>
		
	</div>

</div>


