
<div style="width: 100%; margin:0; margin-bottom: 2%; padding:0; text-align: center; vertical-align: middle;">

	<div style="width: 100%; background-color: orange;">
	
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle; border-right: 1px solid black">
			<h4>Optional Fees</h4>
		</div>
		
		<div style="display: inline-block; width: 75%; padding: 1%; text-align: center; vertical-align: middle;">
			<h4>Price</h4>
		</div>
	</div>

	
	<div style="width: 100%; border-bottom: 1px solid black;">
	
		<div style="display: inline-block; width: 23.2%; padding: 1%; text-align: center; vertical-align: middle;">
			<p>Extra Paper (2 papers included in regular/student registration)</p>
		</div>
		
		<div style="display: inline-block; width: 75%; padding: 1%; text-align: center; vertical-align: middle; border-left: 1px solid black">
			<p>3 500 CZK / per paper</p>
			
			<p>Up to 2 papers per registered author is allowed in regular & student fee. Each extra paper requires an additional payment.</p>
			<p>For each accepted paper, at least one author should pay regular fee or student fee to be included in the conference program.</p>
		</div>
		
	</div>
	
	
	<div style="width: 100%; border-bottom: 1px solid black;">
	
		<div style="display: inline-block; width: 23.2%; padding: 1%; text-align: center; vertical-align: middle;">
			<p>Accompanying Person Fee</p>
		</div>
		
		<div style="display: inline-block; width: 75%; padding: 1%; text-align: center; vertical-align: middle; border-left: 1px solid black">
			<p>2 400 CZK / per paper</p>
			<p>The fee includes:</p>
			<p>- welcome reception on Monday July 10, 2023</p>
			<p>- conference dinner on Wednesday July 12, 2023</p>
			<p>And will not have the access to the sessions during the conference</p>
		</div>
		
	</div>

</div>


