
<div style="width: 100%; margin:0; margin-bottom: 2%; padding:0; text-align: center; vertical-align: middle;">

	<div style="width: 100%; background-color: orange;">
	
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
		
			<p><span style="font-size: 20px; font-weight: bold;">Registration Fee</span><br />&nbsp;</p>
			
		</div>
		
		<div style="display: inline-block; width: 24%;  text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
			
			<p><span style="font-size: 20px; font-weight: bold;">Early Registration</span><br /> till and on May 5, 2023</p>
		</div>
		
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
		
			<p><span style="font-size: 20px; font-weight: bold">Late Registration</span><br /> after May 5, 2023</p>
	
		</div>
		
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%;">
		
			<p><span style="font-size: 20px; font-weight: bold">On-site Registration</span><br /> after July 5, 2023</p>
		
		</div>
		
	</div>
	
	<div style="width: 100%; border-bottom: 1px solid black;">
	
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
		
			<p><span style="font-size: 18px; font-weight: bold;">Regular Fee</span></p>
			
		</div>
		
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
		
			<p><span style="font-size: 18px; font-weight: bold;">17500 CZK</span></p>
			
		</div>
		
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
		
			<p><span style="font-size: 18px; font-weight: bold;">19500 CZK</span></p>
			
		</div>
		
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%;">
			
			<p><span style="font-size: 18px; font-weight: bold;">20500 CZK</span></p>

		</div>
		
	</div>
	
	<div style="width: 100%; border-bottom: 1px solid black;">
	
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
		
			<p><span style="font-size: 18px; font-weight: bold;">Student Fee</span></p>
			
		</div>
		
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
		
			<p><span style="font-size: 18px; font-weight: bold;">14500 CZK</span></p>
			
		</div>
		
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
		
			<p><span style="font-size: 18px; font-weight: bold;">16500 CZK</span></p>
			
		</div>
		
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%;">
			
			<p><span style="font-size: 18px; font-weight: bold;">17500 CZK</span></p>

		</div>
		
	</div>
	
	<div style="width: 100%; border-bottom: 1px solid black;">
	
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%; border-right: 1px solid black;">
		
			<p><span style="font-size: 18px; font-weight: bold;">Online Fee (no paper)</span></p>
		
		</div>
		
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%;">
			

		</div>
		
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%;">
		
			<p><span style="font-size: 18px; font-weight: bold;">5000 CZK</span></p>
			
		</div>
		
		<div style="display: inline-block; width: 24%; text-align: center; vertical-align: middle; padding: 1%;">
			

		</div>
		
	</div>

</div>


