
<div style="width: 100%; margin:0; margin-bottom: 2%; padding:0; text-align: center; vertical-align: middle;">

	<div style="width: 100%; background-color: orange;">
	
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle; border-right: 1px solid black">
			<h4>Registration Fee</h4>
		</div>
		
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle;">
			<h4>Early Registration till and on May 5, 2023</h4>
		</div>
		
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle;">
			<h4>Late Registration after May 5, 2023</h4>
		</div>
		
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle;">
			<h4>On-site Registration after July 5, 2023</h4>
		</div>
		
	</div>
	
	<div style="width: 100%; border-bottom: 1px solid black;">
	
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle; border-right: 1px solid black">
			<p>Regular Fee</p>
		</div>
		
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle;">
			<p>17 500 CZK</p>
		</div>
		
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle;">
			<p>19 500 CZK</p>
		</div>
		
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle;">
			<p>20 500 CZK</p>
		</div>
		
	</div>
	
	<div style="width: 100%; border-bottom: 1px solid black;">
	
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle; border-right: 1px solid black">
			<p>Student Fee</p>
		</div>
		
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle;">
			<p>14 500 CZK</p>
		</div>
		
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle;">
			<p>16 500 CZK</p>
		</div>
		
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle;">
			<p>17 500 CZK</p>
		</div>
		
	</div>
	
	<div style="width: 100%; border-bottom: 1px solid black;">
	
		<div style="display: inline-block; width: 24%; padding: 1%; text-align: center; vertical-align: middle; border-right: 1px solid black">
			<p>Online Fee (no paper)</p>
		</div>
		
		<div style="display: inline-block; width: 72.8%; padding: 1%; text-align: center; vertical-align: middle;">
			<p>5 000 CZK</p>
		</div>
		
	</div>

</div>


