{{ $file := .Get 0 }}
{{ $data := getJSON $file }}

<style>

:root {
  --numDays: 6;
  --numHours: 19;
  --timeHeight: 60px;
  --calBgColor: #fdefcf;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #e4e4e4;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
}

.calendar {
  width: 100%;
  display: grid;
  column-gap: 2%;
  row-gap: 0;
  row: 1px solid;
  grid-template-columns: auto 1fr;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 10%;
}

.timeline {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  margin-left: 2%;
}

.time-marker {

	padding: 3%;
	margin: 0;
	border-top: 1px solid black;
	font-size: 11px; 
}

.days {
  display: grid;
  grid-column: 2;
  column-gap: 1%;
  row-gap: 0;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(15%, 15%));
}

.events {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  border-radius: 5px;
  background: var(--calBgColor);
}

// Place on Timeline
.dc-block {
	grid-row-start: 1;
	grid-row-end: 19;
}

.ws-block {
	grid-row-start: 1;
	grid-row-end: 15;
}

.opening-block {
	grid-row-start: 15;
	grid-row-end: 18;
}

.invited-block {
	grid-row-start: 1;
	grid-row-end: 3;
}

.coffee-break-morning-block {
	grid-row-start: 5;
	grid-row-end: 6;
}

.lunch-block {
	grid-row-start: 8;
	grid-row-end: 9;
}


.coffee-break-afternoon-block {
	grid-row-start: 12;
	grid-row-end: 13;
}

.social-event-block {
	grid-row-start: 18;
	grid-row-end: 19;
}

.awaards-block {
	grid-row-start: 13;
	grid-row-end: 15;
}

.poster-block {
	grid-row-start: 15;
	grid-row-end: 18;
}

.session-morning1-block {
	grid-row-start: 3;
	grid-row-end: 5;
}

.session-morning2-block {
	grid-row-start: 6;
	grid-row-end: 8;
}

.session-afternoon1-block {
	grid-row-start: 9;
	grid-row-end: 12;
}

.session-afternoon2-block {
	grid-row-start: 13;
	grid-row-end: 15;
}

.business-block {
	grid-row-start: 15;
	grid-row-end: 18;
}

// Event

.title {
  font-weight: bold;
  margin-bottom: 3%;
}

.event {
  border: 1px solid var(--eventBorderColor);
  border-radius: 5px;
  padding: 3%;
  margin: 0;
  background: white;
  
}

.space,
.date {
  height: 60px;
}

// Global / Etc

body {
  font-family: system-ui, sans-serif;
}

.mtrack {
  background: var(--eventColor1);
}

.cbreak {
  background: var(--eventColor2);
}

.conf {
  background: var(--eventColor3);
}

.dc, .ws {
  background: var(--eventColor4);
}

.date {
  display: flex;
  gap: 1em;
}

.date-num {
  font-size: 1.3rem;
  font-weight: 600;
  display: inline;
  margin-left: 10%;
}

.date-day {
  display: inline;
  font-size: 0.7rem;
  font-weight: 100;
}

</style>



<div class="calendar">

  <div class="timeline">
    <div class="spacer" style="padding: 20%;">CET</div>
    <div class="time-marker"> 9:00 AM</div>
    	    	<div></div>
<!--    <div class="time-marker">10:00 AM</div>-->
    <div class="time-marker">10:10 AM</div>
    	<div></div>
    <div class="time-marker">11:10 AM</div>    
    <div class="time-marker">11:40 AM</div>    
    	    	<div></div>
    <div class="time-marker">12:40 PM</div>
    <div class="time-marker"> 2:00 PM</div>
    	    	<div></div>
    	    	<div></div>
    <div class="time-marker"> 3:30 PM</div>
    <div class="time-marker"> 4:00 PM</div>
    	    	<div></div>
    <div class="time-marker"> 5:00 PM</div>
    	    	<div></div>
    	    	<div></div>
    <div class="time-marker"> 6:30 PM</div>
    <div class="time-marker"> 8:00 PM</div>
  </div>
  
  <div class="days">
  
    <div class="day">
      <div class="date">
        <p class="date-num">July 8</p>
        <p class="date-day">Sat</p>
      </div>
      <div class="events">
        <div class="event dc-block dc">
          <p class="title"><a href="/program/dc" target="_blank">Doctoral Consortium</a></p>
<!--          <p class="time">Start: 9 AM</p>-->
        </div>
      </div>
    </div>
    
    <div class="day">
      <div class="date">
        <p class="date-num">July 9</p>
        <p class="date-day">Sun</p>
      </div>
      <div class="events">
        <div class="event start-9 end-5 ws ws-block">
          <p class="title"><a href="/program/ws_overview" target="_blank">Workshops</a></p>
          <p class="title"><a href="/program/tutorial_overview" target="_blank">Tutorials</a></p>  
          <p></p>
        </div>
      </div>
    </div>
    
    <div class="day">
      <div class="date">
        <p class="date-num">July 10</p>
        <p class="date-day">Mon</p>
      </div>
      <div class="events">
        <div class="event start-9 end-5 ws ws-block">
          <p class="title"><a href="/program/ws_overview" target="_blank">Workshops</a></p>
          <p class="title"><a href="/program/tutorial_overview" target="_blank">Tutorials</a></p>  
        </div>
        
        <div class="event conf opening-block">
          <p class="title">Opening reception</p>
        </div>
      </div>
    </div>
    
    <div class="day">
      <div class="date">
        <p class="date-num">July 11</p>
        <p class="date-day">Tue</p>
      </div>
      <div class="events">
        <div class="event conf invited-block">
          <p class="title">Invited Talk:<br /><a href="/program/keynotes/#mcilriath" target="_blank">Sheila Mcllraith</a></p>
        </div>
       
        
        <div class="event session-morning1-block mtrack">
          <p class="title"><a href="#main1">Main 1</a></p>
          <p class="title"><a href="#learning1">Learning 1</a></p>
        </div>
        
        <div class="event coffee-break-morning-block cbreak">
          <p class="title">Coffee break</p>
        </div>
        
        <div class="event session-morning2-block mtrack">
          <p class="title"><a href="#main2">Main 2</a></p>
          <p class="title"><a href="#robotics1">Robotics 1</a></p>
        </div>
        
        <div class="event lunch-block cbreak">
          <p class="title">Lunch</p>
        </div>
        
        <div class="event session-afternoon1-block mtrack">
          <p class="title">Diversity event</p>
          <p class="title"><a href="#main3">Main 3</a></p>
        </div>
        
        <div class="event coffee-break-afternoon-block cbreak">
          <p class="title">Coffee break</p>
        </div>
        
        <div class="event session-afternoon2-block mtrack">
          <p class="title"><a href="#main4">Main 4</a></p>
          <p class="title"><a href="#journal1">Journal 1</a></p>
        </div>
        
        <div class="event poster-block conf">
          <p class="title">Poster session</p>
          <p class="title">System demo</p>
          <p class="title">Competition announcements and awads</p>
        </div>
        
      </div>
    </div>
    
    <div class="day">
      <div class="date">
        <p class="date-num">July 12</p>
        <p class="date-day">Wed</p>
      </div>
      <div class="events">
     	<div class="event conf invited-block">
          <p class="title">Invited Talk:<br /><a href="/program/keynotes/#villata" target="_blank">Serena Villata</a></p>
        </div>
       
        
        <div class="event session-morning1-block mtrack">
          <p class="title"><a href="#main5">Main 5</a></p>
          <p class="title"><a href="#learning2">Learning 2</a></p>
        </div>
        
        <div class="event coffee-break-morning-block cbreak">
          <p class="title">Coffee break</p>
        </div>
        
        <div class="event session-morning2-block mtrack">
          <p class="title"><a href="#main6">Main 6</a></p>
          <p class="title"><a href="#apps1">Apps 1</a></p>
        </div>
        
        <div class="event lunch-block cbreak">
          <p class="title">Lunch</p>
        </div>
        
        <div class="event session-afternoon1-block mtrack">
          <p class="title"><a href="#main7">Main 7</a></p>
        </div>
        
        <div class="event coffee-break-afternoon-block cbreak">
          <p class="title">Coffee break</p>
        </div>
        
        <div class="event awaards-block conf">
          <p class="title">Awards ceremony</p>
        </div>
        
        <div class="event business-block conf">
          <p class="title">Community meeting</p>
        </div>
      
      
      	<div class="event social-event-block conf">
          <p class="title">Social event</p>
        </div>
      
      
      </div>
    </div>
    
    <div class="day">
      <div class="date">
        <p class="date-num">July 13</p>
        <p class="date-day">Thu</p>
      </div>
      <div class="events">
      
      	<div class="event conf invited-block">
          <p class="title">Invited Talk:<br /><a href="/program/keynotes/#kressgazit" target="_blank">Hadas Kress-Gzit</a></p>
        </div>
       
        
        <div class="event session-morning1-block mtrack">
          <p class="title"><a href="#main8">Main 8</a></p>
          <p class="title"><a href="#learning3">Learning 3</a></p>
        </div>
        
        <div class="event coffee-break-morning-block cbreak">
          <p class="title">Coffee break</p>
        </div>
        
        <div class="event session-morning2-block mtrack">
          <p class="title"><a href="#main9">Main 9</a></p>
          <p class="title"><a href="#apps2">Apps 2</a></p>
        </div>
        
        <div class="event lunch-block cbreak">
          <p class="title">Lunch</p>
        </div>
        
        <div class="event session-afternoon1-block mtrack">
          <p class="title"><a href="#main10">Main 10</a></p>
          <p class="title">SoCS Highlights</p>
        </div>
        
        <div class="event coffee-break-afternoon-block cbreak">
          <p class="title">Coffee break</p>
        </div>
        
        <div class="event session-afternoon2-block conf">
          <p class="title"><a href="#main11">Main 11</a></p>
          <p class="title"><a href="#journal2">Journal 2</a></p>
        </div>
    
     
      </div>
    </div>
    
  </div>
</div>

<div style="margin: 0; padding: 0%;">

	<h3>Detailed Schedule</h3>

{{ range $session := $data.sessions }}

	<div style="margin: 0; margin-bottom: 3%; padding: 0;">
	
		<div style="width: 100%; background-color: orange; padding: 2%;">

			<div style="display:inline-block; width: 38%; font-weight: bold;">
				<a name="{{ $session.label }}" href="#{{ $session.label }}" style="color:black">{{ print $session.title }}</a>
			</div>
			
			<div style="display:inline-block; width: 60%; text-align:right;">
			
				{{ print $session.day }} | {{ print $session.start }} - {{ print $session.end }}
			</div>
			
		</div>
		
		<div style="width: 100%;">
		
		{{ range $paper := $session.papers }}
		
			<div style="padding:1%; border-bottom: 1px solid orange">
				<p style="font-size: 16px;"><strong>{{ print $paper.title  }}</strong></p>
				<p style="margin-left: 2%">{{ print $paper.type }} paper, time: {{ print $paper.duration }} min.
			</div>
		
		{{ end }}
		
		
		</div>

	</div>

{{ end }}

</div>






