{{ $file := .Get 0 }}
{{ $data := getJSON $file }}


<div style="margin: 0; padding: 0%;">
	
	<div style="margin: 0; margin-bottom: 3%; padding: 0; text-align:center; vertical-align: middle;">
	
		<div style="width: 100%; background-color: orange; padding: 1%;">
		
			<div style="display:inline-block; width: 25%; font-weight: bold; font-size: 15px;">
				<p>Sunday July 9</p>
			</div>
			
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>T1</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>T2</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>N2</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>N4</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>N5</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>N6</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>N7</p>
			</div>
		
		</div>
		
		<div style="width: 100%; border-bottom: solid 1px orange; padding: 1%;">
		
			<div style="display:inline-block; width: 25%; font-size: 15px;">
				<p style="font-weight: bold">Morning *</p>
 				<p style="font-size: 11px;">9:00 AM - 12:40 PM (CET)</p>
			</div>
			
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#PRL">PRL</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#KEPS">KEPS</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#SPARK">SPARK</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				-
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				-
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p>Complexity</p>
				<p style="font-size: 11px;">(Tutorial)</p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				-
			</div>
		
		</div>
		
		<div style="width: 100%; border-bottom: solid 1px orange; padding: 1%;">
		
			<div style="display:inline-block; width: 25%; font-size: 15px;">
				<p style="font-weight: bold;">Afternoon *</p>
				<p style="font-size: 11px;">2:00 PM - 5:00 PM (CET)</p>
			</div>
			
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#PRL">PRL</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#KEPS">KEPS</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#SPARK">SPARK</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#IntEx">IntEx</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#FinPlan">FinPlan</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p>Unified Planning</p>
				<p style="font-size: 11px;">(Tutorial)</p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p>Temporal Networks</p>
				<p style="font-size: 11px;">(Tutorial)</p>				
			</div>
		
		</div>
		
	</div>
	
	<p style="padding: 1%">* Check the program of <a href="/program/schedule/sunday" target="_blank">Sunday, July 9</a> for the detailed schedule of the workshops</p>
	
	<div style="margin: 0; margin-bottom: 3%; padding: 0; ">
	
		<div style="width: 100%; background-color: orange; padding: 1%; text-align:center; vertical-align: middle;">
		
			<div style="display:inline-block; width: 20%; font-weight: bold; font-size: 15px;">
				<p>Monday July 10</p>
			</div>
			
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>T1</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>T2</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>N2</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>N4</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>N5</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>N6</p>
			</div>
			<div style="display:inline-block; width: 10%; font-weight: bold; font-size: 15px;">
				<p>N7</p>
			</div>

		</div>
		
		<div style="width: 100%; border-bottom: solid 1px orange; padding: 1%; text-align:center; vertical-align: middle;">
		
			<div style="display:inline-block; width: 25%; font-size: 15px;">
				<p style="font-weight: bold">Morning **</p>
 				<p style="font-size: 11px;">9:00 AM - 12:40 PM (CET)</p>
			</div>
			
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#PlanRob">PlanRob</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#HAXP">HAXP</a></p>
				<p><a href="#PAIR">PAIR</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#HSDIP">HSDIP</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				-
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				-
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p>MDPS with RDDL</p>
				<p style="font-size: 11px;">(Tutorial)</p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p>MACQ</p>
				<p style="font-size: 11px;">(Tutorial)</p>
			</div>
		
		</div>
		
		<div style="width: 100%; border-bottom: solid 1px orange; padding: 1%; text-align:center; vertical-align: middle;">
		
			<div style="display:inline-block; width: 25%; font-size: 15px;">
				<p style="font-weight: bold;">Afternoon **</p>
				<p style="font-size: 11px;">2:00 PM - 5:00 PM (CET)</p>
			</div>
			
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#PlanRob">PlanRob</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#HAXP">HAXP</a></p>
				<p><a href="#PAIR">PAIR</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#HSDIP">HSDIP</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#RDDPS">RDDPS</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#HPlan">HPlan</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p><a href="#PLATO">PLATO</a></p>
			</div>
			<div style="display:inline-block; width: 10%; font-size: 15px;">
				<p>Planning and LLMS</p>
				<p style="font-size: 11px;">(Tutorial)</p>				
			</div>
		
		</div>
		
		<p style="padding: 1%">** Check the program of <a href="/program/schedule/monday" target="_blank">Monday, July 10</a> for the detailed schedule of the workshops</p>
		
	</div>
	
	<hr style="border: 0; margin-top: 5%; margin-bottom: 5%;" />
	
	<h3>List of Workshops</h3>

{{ range $workshop := $data.workshops }}

	<div style="margin: 0; margin-bottom: 3%; padding: 0;">
	
		<div style="width: 100%; background-color: orange; padding: 2%;">

			<div style="display:inline-block; width: 60%; font-weight: bold; font-size: 15px;">
				<a name="{{ print $workshop.acronym }}" href="#{{ print $workshop.acronym }}" style="color:black">{{ print $workshop.title }} ({{ print $workshop.acronym }})</a>
			</div>
			
			<div style="display:inline-block; width: 38%; text-align:right;">
				<p style="font-weight: bold;">{{ print $workshop.schedule }} - {{ print $workshop.room }}</p>
			</div>
			
		</div>
		
		<div style="width: 100%;">
		
		
		<div style="padding:1%; border-bottom: 1px solid orange">
			<p style="font-size: 13px;"><strong>{{ print $workshop.organizers  }}</strong></p>
			<p style="margin-left: 2%; font-size: 12px">{{  print $workshop.description }}</p>
			<p>See more here: <a href="{{ $workshop.url }}" target="_blank">{{ print $workshop.acronym }}</a></p>
		</div>
	
		
		</div>

	</div>

{{ end }}

</div>






